<div class="container-fluid">
    <div class="row">
        <navbar></navbar>
    </div>

    <div class="row container-content-pages">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  <router-outlet></router-outlet>
                </div>
              </div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  <app-footer></app-footer>
                </div>
              </div>
        </div>
    </div>
</div>
