<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <th scope="col">Nº</th>
                <th scope="col">Nome do Streamer</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Quantidade de seguidores</th>
                <th scope="col">Tipo de jogo</th>
                <th scope="col">Ação</th>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let streamer of listStreamers; let numeroStreamer = index">
                   <td>{{ numeroStreamer }}</td>
                   <td>{{ streamer.nomeStreamer }}</td>
                   <td>{{ streamer.plataformaStreaming }}</td>
                   <td>{{ streamer.quantidadeSeguidores }}</td>
                   <td>{{ streamer.tipoJogo }}</td>
                   <td>
                        <div>
                            <button type="button" class="btn btn-outline-danger" (click)="sendRequestToDeleteStreamer(streamer)">Excluir</button>
                            <button type="button" class="btn btn-outline-primary space-left-button" (click)="onEditStreamerClick(streamer)">Editor</button>
                        </div>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #modalConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Excluir usuário</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Você tem certeza quer deseja excluir o usuário?</p>
        <p>
            Toda informação referente a esse usuário será permanentemente apagada.
            <span class="text-danger">Essa operação não poderá ser desfeita.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="c('Ok click')">Excluir</button>
    </div>
</ng-template>